<div class="bg-white width-screen">
    <div class="container-toolbar">
        <div class="left-toolbar d-flex gap-2 align-items-center">
            <span class="icon-Users-37 fs-24 text-common-black fw-600"></span>
            <span class="text-common-black fw-600 fs-16">Quản lý tài khoản</span>
            <span class="text-common-black fw-500 fs-16">></span>
            <span class="text-common-black fw-500 fs-16">Cấp phát định mức</span>
        </div>
        <div class="right-toolbar">
            <div class="button-toolbar">
                <span class="icon-General-113"></span>
                <span>Thêm</span>
            </div>
            <div class="button-toolbar">
                <span class="icon-General-84"></span>
                <span>Sửa</span>
            </div>
            <div class="button-toolbar">
                <span class="icon-General-163"></span>
                <span>Xoá</span>
            </div>
            <div class="button-toolbar">
                <span class="icon-General-3"></span>
                <span>Import</span>
            </div>
        </div>
    </div>
    <div class="mx-2">
        <grid-view [totalItems]="totalItems" (clickPage)="ClickPagerIndex($event)" [template]="templategrid"></grid-view>
    </div>
</div>

<ng-template #templategrid>
    <ejs-grid (recordClick)="selectedRowTable($event)" [height]="height" [sortSettings]='sortOptions' [dataSource]='listSubgroup' [allowSorting]="true" [pageSettings]="pageSettings">
        <e-columns>
            <e-column headerText="Mã ca" textAlign='Left' width=50>
                <ng-template #template let-item>
                    <div>{{item.MaCa}}</div>
                </ng-template>
            </e-column>
            <e-column headerText="Tên ca" width=40 textAlign='Left'>
                <ng-template #template let-item>
                    <span> {{item.TenCa}}</span>

                </ng-template>
            </e-column>
            <e-column headerText="Ghi chú" width=100 textAlign='Center'>
                <ng-template #template let-item>
                    <span class="fw-600 fs-14">{{item.GhiChu}}</span>
                </ng-template>
            </e-column>
            <e-column headerText="Thời gian bắt đầu" width=70 textAlign='Center'>
                <ng-template #template let-item>
                    <span class="fw-600 fs-14">{{item.ThoiGianBatDau}}</span>
                </ng-template>
            </e-column>
            <e-column headerText="Thời gian kết thúc" width=70 textAlign='Center'>
                <ng-template #template let-item>
                    <span class="fw-600 fs-14">{{item.ThoiGianKetThuc}}</span>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</ng-template>
<app-foodshift-addnew-dialog #addnewfoodshiftdialog></app-foodshift-addnew-dialog>