
th{
  background: #F4F6FA;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
td{
  text-align: center;
}


tr:hover {background-color: coral;}
.page-link{
  font-size: 12px;
}
.page-item:hover{
  opacity: 0.8;
}
