th{
  background: #F4F6FA;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  vertical-align: middle;
}
td{
  text-align: center;
  border-bottom: 1px solid var(--Text3, #C1C1C1);
  padding: 8px 0;
  vertical-align: middle;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}
tr:hover {background-color: coral;}

.icon-search{
  position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.input-search{
  padding: 8px 0 8px 38px;
    border-radius: 100px;
    border: 0.5px solid var(--Text2, #dedede);
    outline: none;
    font-size: 12px;
}
.label-vote{
  color: var(--Color1, #0174BE);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
  letter-spacing: -0.18px;
}
.add{
  border-radius: 3px;
  background: var(--Color1);
  display: flex;
  padding: 3px 8px;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  span{
    color: #FFFFFF !important;
  }
}

.img-table{
  width: 30px;
  height: 30px;
  border-radius: 50px;
}


:host::ng-deep{
  input{
    border: 0;
    outline: 0;
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 0.5px solid var(--Text3, #C1C1C1);
    width: 100%;
    font-size: 14px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.input-dropdown{
  display: flex;
  padding: 8px 10px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  border: 0.5px solid var(--Text3, #C1C1C1);
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.dropdown-menu-custom{
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu-custom li:hover{
  background-color: #C1C1C1;
  cursor: pointer;
}

.dropdown-menu-custom li{
  padding: 0.8rem;
}
textarea{
  width: 100%;
  outline: none;
  border: 0.5px solid var(--Text3, #C1C1C1);
  border-radius: 5px;
  resize: none;
  padding: 1rem;
}
.modal-submit{
  padding: 10px;
  border-radius: 5px;
  background: var(--Color1);
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.14px;
  min-width:110px;
  cursor: pointer;
}
.item-color{
  width: 35px;
  height: 35px;
}
.image-picker{
  width: 152px;
  height: 152px;
}

.container-guess{
  display: grid;
  grid-template-columns: 257px auto;
}
.items-tab{
  display: flex;
  width: 235px;
  padding: 5px;
  align-items: center;
  gap: 10px;
}
.active-tab{
  border-radius: 5px;
  background: var(--Color10, #ECFFEB);
  color: var(--Color1) !important;
}
.status0{
  color: #1B20A8;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.status1{
  color: #1BA85C;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.icon-date{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.statusCard0{
  color: #1BA85C;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.statusCard1{
  color: #A81B1B;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.statusXu0{
  color: #264FB8;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.statusXu1{
  color: #A81B1B;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
