<!-- <app-CapPhatDinhMuc-dialog #capphatdinhmuc (reloadDataMasterEvent)="initTheKhachData()"></app-CapPhatDinhMuc-dialog> -->

<div class="bg-white width-screen">
  <div class="container-toolbar">
    <div class="left-toolbar d-flex gap-2 align-items-center">
      <app-breadcum></app-breadcum>
    </div>
    <div class="right-toolbar">
      <div class="button-toolbar">
        <span class="icon-General-113"></span>
        <span>Thêm</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-84"></span>
        <span>Sửa</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-163"></span>
        <span>Xoá</span>
      </div>
      <div class="button-toolbar" >
        <span class="icon-General-3"></span>
        <span>Cấp phát định mức</span>
      </div>
    </div>
  </div>
  <div class="mx-2">
    <grid-view [template]="templategrid"></grid-view>
  </div>
</div>


<ng-template #templategrid>
  <ejs-grid class="border-0" [height]="height" (recordDoubleClick)="onOpenCapPhatDinhMuc($event)" [dataSource]='listCard' [pageSettings]="pageSettings">
    <e-columns>
      <e-column headerText="Mã thẻ" textAlign='Left' width=110>
        <ng-template #template let-item>
          <div>{{item.MaTheKhach}}</div>
        </ng-template>
      </e-column>
      <e-column headerText="Ghi chú" textAlign='Left' width=250>
        <ng-template #template let-item>
          <ejs-tooltip id='tooltip' [content]='item.GhiChu' target="#targetCard">
            <div id="targetCard" style="width: 230px;" class="text-start text-truncate-2">{{item.GhiChu}}</div>
          </ejs-tooltip>
        </ng-template>
      </e-column>
      <e-column headerText="Tình trạng" width=130 textAlign='Left'>
        <ng-template #template let-item>
          <div class="text-start"
            [ngClass]="{'statusCard0':!(item.TinhTrang == 1?true: false),'statusCard1':(item.TinhTrang == 1?true: false)}">
            <div class="fs-12 fw-600" *ngIf="!(item.TinhTrang == 1?true: false)">Đang sử dụng</div>
            <div class="fs-12 fw-600" *ngIf="(item.TinhTrang == 1?true: false)">Chưa sử dụng</div>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Định mức sử dụng" textAlign='Left' width=160>
        <ng-template #template let-item>
          <div class="text-center text-common-primary fs-12 fw-600">{{item.DinhMucConLai  }}</div>
        </ng-template>
      </e-column>
      <e-column headerText="Hạn mức sử dụng" textAlign='Left' width=160>
        <ng-template #template let-item>
          <div class="text-center text-common-primary fs-12 fw-600">{{item.HanMucSuDung }}</div>
        </ng-template>
      </e-column>
      <e-column headerText="Lần nạp gần nhất" textAlign='Left' width=150>
        <ng-template #template let-item>
          <div class="d-flex gap-2">
            <div class="fs-12">{{item.LanNapGanNhat | date:'dd/MM/yyyy'}}</div>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Lịch sử cấp phát" textAlign='Center' width=140>
        <ng-template #template let-item>
          <div (click)="onOpenCPHistory(item.MaTheKhach);historyProvide.show()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <path
                d="M12.5 13C13.0523 13 13.5 12.5523 13.5 12C13.5 11.4477 13.0523 11 12.5 11C11.9477 11 11.5 11.4477 11.5 12C11.5 12.5523 11.9477 13 12.5 13Z"
                stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M19.5 13C20.0523 13 20.5 12.5523 20.5 12C20.5 11.4477 20.0523 11 19.5 11C18.9477 11 18.5 11.4477 18.5 12C18.5 12.5523 18.9477 13 19.5 13Z"
                stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M5.5 13C6.05228 13 6.5 12.5523 6.5 12C6.5 11.4477 6.05228 11 5.5 11C4.94772 11 4.5 11.4477 4.5 12C4.5 12.5523 4.94772 13 5.5 13Z"
                stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </ng-template>
      </e-column>
      <e-column headerText="Lịch sử xu" textAlign='Center' width=140>
        <ng-template #template let-item>
          <div data-bs-target="#modalHistoryXu" data-bs-toggle="modal" (click)="onOpenXuHistory(item.MaTheKhach);historyCoin.show()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
              <path
                d="M12.5 13C13.0523 13 13.5 12.5523 13.5 12C13.5 11.4477 13.0523 11 12.5 11C11.9477 11 11.5 11.4477 11.5 12C11.5 12.5523 11.9477 13 12.5 13Z"
                stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M19.5 13C20.0523 13 20.5 12.5523 20.5 12C20.5 11.4477 20.0523 11 19.5 11C18.9477 11 18.5 11.4477 18.5 12C18.5 12.5523 18.9477 13 19.5 13Z"
                stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path
                d="M5.5 13C6.05228 13 6.5 12.5523 6.5 12C6.5 11.4477 6.05228 11 5.5 11C4.94772 11 4.5 11.4477 4.5 12C4.5 12.5523 4.94772 13 5.5 13Z"
                stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
          </div>
        </ng-template>
      </e-column>
    </e-columns>
  </ejs-grid>
  <ejs-pager [totalRecordsCount]='totalItems' [pageSize]="PageSize" (click)="ClickPagerIndex($event)">
  </ejs-pager>
</ng-template>


<!-- Lịch sử cấp phát thẻ -->
<app-dialog [isFooter]="false" height="100vh" width="70%"  #historyProvide headerText="Lịch sử cấp phát thẻ" [templateBody]="content"></app-dialog>
<ng-template #content>
  <div class="mt-3">
    <grid-view [template]="temphistoryProvide" [totalItems]="totalHistoryCPItems" (clickPage)="ClickPagerIndex($event)"></grid-view>
  </div>
  <ng-template #temphistoryProvide>
    <ejs-grid  [height]="heightHistory" [dataSource]='listHistory' [pageSettings]="pageSettings">
      <e-columns>
        <e-column headerText="Ngày cấp phát" textAlign='Left' width=150>
          <ng-template #template let-item>
            <div>{{item.CreatedOn | date:'dd/MM/yyyy hh:mm'}}</div>
          </ng-template>
        </e-column>
        <e-column headerText="Ghi chú" textAlign='Left' width=250>
          <ng-template #template let-item>
            <ejs-tooltip id='tooltip' [content]='item.Note' target="#targetmodalHistory">
              <div id="targetmodalHistory" style="width: 275px;" class="text-start text-truncate-2">{{item.Note}}
              </div>
            </ejs-tooltip>
          </ng-template>
        </e-column>
        <e-column headerText="Tình trạng" width=120 textAlign='Left'>
          <ng-template #template let-item>
            <div class="text-start" [ngClass]="{'status0':!item.Status,'status1':item.Status}">
              <div class="fs-12 fw-600" *ngIf="!item.Status">Đã trả thẻ</div>
              <div class="fs-12 fw-600" *ngIf="item.Status">Đã cấp thẻ</div>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText="Thời hạn" textAlign='Left' width=220>
          <ng-template #template let-item>
            <div class="d-flex gap-2">
              <div class="fs-12">{{item.CreatedOn | date:'dd/MM/yyyy'}}</div>
              <div class="fs-12"> - </div>
              <div class="fs-12">{{item.ThoiHanSuDung | date:'dd/MM/yyyy'}}</div>
            </div>
          </ng-template>
        </e-column>

        <e-column headerText="Người cấp thẻ" textAlign='Left' width=200>
          <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2">
              <img [src]="getPhoto(item.CreatedBy)" alt="" class="img-table">
              <div class="d-flex flex-column">
                <div>Cao Minh Quân</div>
                <div class="d-flex gap-2">
                  <span class="fs-12">{{ item.BeginDate | date : "dd/MM/yyyy" }}</span>
                  <span class="fs-12">{{ item.BeginDate | date : "shortTime" }} </span>
                </div>
              </div>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText="Người nhận thẻ" textAlign='Left' width=200>
          <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2">
              <img [src]="getPhoto(item.NguoiNhan)" alt="" class="img-table">
              <div class="d-flex flex-column">
                <div>Cao Minh Quân</div>
                <div class="d-flex gap-2">
                  <span class="fs-12">{{ item.BeginDate | date : "dd/MM/yyyy" }}</span>
                  <span class="fs-12">{{ item.BeginDate | date : "shortTime" }} </span>
                </div>
              </div>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText="Người trả thẻ" textAlign='Left' width=200>
          <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2">
              <img [src]="getPhoto(item.NguoiTra)" alt="" class="img-table">
              <div class="d-flex flex-column">
                <div>Cao Minh Quân</div>
                <div class="d-flex gap-2">
                  <span class="fs-12">{{ item.BeginDate | date : "dd/MM/yyyy" }}</span>
                  <span class="fs-12">{{ item.BeginDate | date : "shortTime" }} </span>
                </div>
              </div>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText="Món ăn đã đặt" textAlign='Left' width=340>
          <ng-template #template let-item>
            <div class="d-flex gap-2 flex-wrap">
              <div [ngStyle]="{'background':defaultColor[i % 10]}" class="p-1 rounded"
                *ngFor="let food of listFood;let i = index">
                {{food.Name}}
              </div>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText="Tổng xu" textAlign='Left' width=120>
          <ng-template #template let-item>
            <div class="text-start text-common-black fs-14">100 xu</div>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </ng-template>
</ng-template>

<!-- lich su xu -->
<app-dialog  [isFooter]="false" height="100vh" width="70%" #historyCoin headerText="Lịch sử xu" [templateBody]="contentCoin"></app-dialog>
<ng-template #contentCoin>
  <div class="mt-3">
    <grid-view [template]="temphistoryCoin" [totalItems]="totalHistoryCPItems" (clickPage)="ClickPagerIndex($event)"></grid-view>
  </div>
  <ng-template #temphistoryCoin>
    <ejs-grid [height]="heightHistory" [dataSource]='listHistoryXu' [pageSettings]="pageSettings">
      <e-columns>
        <e-column headerText="Ngày phát sinh" textAlign='Left' width=150>
          <ng-template #template let-item>
            <div>{{item.NgayPhatSinh | date:'dd/MM/yyyy'}}</div>
          </ng-template>
        </e-column>
        <e-column headerText="Tình trạng" width=150 textAlign='Left'>
          <ng-template #template let-item>
            <div class="text-start" [ngClass]="{'statusXu0':item.Type == 0,'statusXu1':item.Type == 1}">
              <div class="fs-12 fw-600" *ngIf="item.Type == 0">Đặt món</div>
              <div class="fs-12 fw-600" *ngIf="item.Type == 1">Nạp thẻ</div>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText="Thời hạn" textAlign='Left' width=390>
          <ng-template #template let-item>
            <div class="d-flex gap-2" *ngIf="item.Type == 0">
              <div [ngStyle]="{'background':defaultColor[i % 10]}" class="p-1 rounded"
                *ngFor="let food of listFood;let i = index">
                {{food.Name}}
              </div>
            </div>
            <div *ngIf="item.Type == 1">Công ty nạp định kỳ</div>
          </ng-template>
        </e-column>

        <e-column headerText="Người thực hiện" textAlign='Left' width=200>
          <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2" *ngIf="item.Type == 0">
              <img src="./assets/images/credit-card-payment.png" alt="" class="img-table">
              <div>{{item.CreatedBy}}</div>
            </div>
            <div class="d-flex align-items-center gap-2" *ngIf="item.Type == 1">
              <img [src]="getPhoto(item.NguoiNhan)" alt="" class="img-table">
              <div class="d-flex flex-column">
                <div>Cao Minh Quân</div>
              </div>
            </div>
          </ng-template>
        </e-column>
        <e-column headerText="Tổng xu" textAlign='Left' width=120>
          <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2 justify-content-center">
              <div *ngIf="item.Total > 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M7.99998 3.33337V12.6667M3.33331 8.00004H12.6666" stroke="#54BF61" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </div>
              <div *ngIf="item.Total < 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M3.33331 8H12.6666" stroke="#C13535" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg>
              </div>
              <div class="text-common-black">{{item.Total}} xu</div>
            </div>
          </ng-template>
        </e-column>
      </e-columns>
    </ejs-grid>
  </ng-template>
</ng-template>


