<div class="bg-white width-screen">
  <div class="container-toolbar pb-0">
    <div class="left-toolbar d-flex gap-2 align-items-center">
      <span class="icon-MapTravel-42 fs-24 text-common-black fw-600"></span>
      <span class="text-common-black fw-600 fs-16">Quản lý thẻ khách</span>
      <span class="text-common-black fw-500 fs-16">></span>
      <span class="text-common-black fw-500 fs-16">Cấp phát định mức</span>
    </div>
    <div class="right-toolbar">
      <div class="button-toolbar" (click)="dialogCapPhat.show()">
        <span class="icon-General-84"></span>
        <span>Cấp phát định mức</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-20"></span>
        <span>Chọn nhiều dòng</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-101"></span>
        <span>Nhập khẩu</span>
      </div>
    </div>
  </div>
  <div class="container-toolbar justify-content-start gap-4">
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">BU</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">Phòng ban</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">Nhân viên</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">Năm/Tháng</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>
  </div>
  <div class="mx-2 pt-2">
    <grid-view [totalItems]="totalItems" [template]="templategrid"></grid-view>
  </div>
</div>
<ng-template #templategrid>
  <ejs-grid
  [dataSource]="listCapPhat"
  [height]="heightGrid - 50"
  [allowTextWrap]="true"
  [textWrapSettings]='wrapSettings'
  (rowSelected)="RowSelected($event)"
  (rowDeselected)="RowSelected($event,1)"
      >
    <e-columns>
      <e-column type='checkbox' width='40'>
        <ng-template #headerTemplate>
        </ng-template>
      </e-column>
      <e-column headerText="Mã Nhân viên" textAlign='Left' width=150>
        <ng-template #template let-item>
            <div class="text-start">{{item.EmployeeCode}}</div>
        </ng-template>
    </e-column>

    <e-column headerText="V3ID" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="text-start">{{item.BarCode}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="BU" textAlign='Left' width=140>
      <ng-template #template let-item>
          <span class="text-start">{{item.BU}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Họ và tên (VN)" width=250 textAlign='Left'>
        <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2">
                <img class="rounded-circle" width="40" height="40" [src]="getPhoto(item.EmployeeCode)" alt="" srcset="">
                <span class="text-start d-flex flex-wrap">{{item.EmployeeName}}</span>
            </div>
        </ng-template>
    </e-column>
    <e-column headerText="Phòng ban" textAlign='Left' width=180>
        <ng-template #template let-item>
            <span class="text-start">{{item.DepartmentName}}</span>
        </ng-template>
    </e-column>
    <e-column headerText="Ngày nhận việc" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.JoinDate  | date:'dd/MM/yyyy'}}</span>
      </ng-template>
    </e-column>
    <e-column headerText="Nhóm phụ nhân viên" width=200 textAlign='Left'>
      <ng-template #template let-item>
        <div class="d-flex justify-content-center">
          <div class="d-flex gap-2 align-items-center" [ngClass]="{
            'Staff': item.NhomPhuCode == 'Staff' ,
            'DL': item.NhomPhuCode == 'DL',
            'IDL': item.NhomPhuCode == 'IDL',
            }">
              <span class="icon-Users-11"></span>
              <div>{{item.NhomPhuCode}}</div>
          </div>
        </div>
      </ng-template>
    </e-column>

    <e-column headerText="Tháng cấp phát" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.Thang}}</span>
      </ng-template>
    </e-column>
    <e-column headerText="Tiền định mức lần 1" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.DinhMuc1}}</span>
      </ng-template>
    </e-column>
    <e-column headerText="Tiền định mức lần 2" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.DinhMuc2}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Tổng định mức" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.TongDinhMuc}}</span>
      </ng-template>
    </e-column>

<!--
    <e-column headerText="Tổng tiền đã thanh toán" textAlign='Left' width=150>
      <ng-template #template let-item>
          <span class="text-start">{{item.TongTienDaThanhToan}}</span>
      </ng-template>
    </e-column>
    <e-column headerText="Định mức còn lại" textAlign='Left' width=180>
      <ng-template #template let-item>
        <div class="d-flex align-items-center gap-2 justify-content-center">
          <div *ngIf="item.DinhMucConLai > 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.99998 3.33337V12.6667M3.33331 8.00004H12.6666" stroke="#54BF61" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div *ngIf="item.DinhMucConLai < 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M3.33331 8H12.6666" stroke="#C13535" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div [ngClass]="{'Cong': item.DinhMucConLai > 0,'True': item.DinhMucConLai < 0}">{{item.DinhMucConLai}}</div>
        </div>
      </ng-template>
    </e-column> -->

    </e-columns>
  </ejs-grid>
</ng-template>


<ejs-dialog [isModal]="true"  [position]="{ X: 'center', Y: 'center' }" #dialogCapPhat showCloseIcon='true' [height]='500' width='350px' [visible]='false'>
  <ng-template #header>
    <div class="text-common-black fs-18 fw-600">Chỉnh sửa</div>
  </ng-template>
  <ng-template #content>
    <div class="container mt-3">
      <div class="row g-3">
        <div class="col-12">
          <app-datetime title="Thời điểm bắt đầu theo kế hoạch"></app-datetime>
        </div>
        <div class="col-12">
          <app-datetime title="Thời điểm kết thúc theo kế hoạch"></app-datetime>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="w-100 px-4">
      <button class="btn button-app w-100">Lưu</button>
    </div>
  </ng-template>
</ejs-dialog>


