<div class="bg-white width-screen">
  <div class="container-toolbar pb-0">
    <div class="left-toolbar d-flex gap-2 align-items-center">
      <app-breadcum></app-breadcum>
    </div>
    <div class="right-toolbar">
      <div class="button-toolbar" (click)="ViewData()">
        <span class="icon-General-93"></span>
        <span>{{I18nLang.Common.View}}</span>
      </div>
      <div class="button-toolbar" (click)="onOpenCapPhatDinhMuc()">
        <span class="icon-General-84"></span>
        <span>{{I18nLang.CapPhatDinhMuc.CapPhatDinhMuc}}</span>
      </div>
      <!-- <div class="button-toolbar">
        <span class="icon-General-101"></span>
        <span>{{I18nLang.Common.Import}}</span>
      </div> -->
    </div>
  </div>
  <div class="container-toolbar justify-content-start gap-4">
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">{{I18nLang.CapPhatDinhMuc.BU}}</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown [dataSource]="tblBU" (clickItem)="selectetedBU = $event" [selectedItem]="selectetedBU" fieldName="BU"></app-dropdown>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">{{I18nLang.CapPhatDinhMuc.PhongBan}}</div>
      <div style="width: 228px;" class="bg-white">
        <app-tree-view fieldName="DepartmentName" [selectedItem]="selectetedBoPhan" (clickItem)="selectetedBoPhan = $event" type="dropdown" [dataSource]="tblBoPhan"></app-tree-view>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">{{I18nLang.CapPhatDinhMuc.NhanVien}}</div>
      <div style="width: 228px;" class="bg-white">
        <app-combobox
        [IsMultiSelect]="true"
        [dataSource]="tblEmployees"
        [showSeachDropDown]="true"
        [selectedItem]="selectetedEmployees"
        fieldName="EmployeeName"
        fieldName2="EmployeeCode"
        [searchField]="['EmployeeCode','EmployeeName']"
        (clickItem)="handleSelectEmp($event)"
        ></app-combobox>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">{{I18nLang.CapPhatDinhMuc.NamThang}}</div>
      <div style="width: 228px;" class="bg-white">
        <app-combobox [dataSource]="tblThang" fieldName="Thang" [selectedItem]="selectetedThang" (clickItem)="selectetedThang = $event"></app-combobox>
      </div>
    </div>
  </div>
  <div class="mx-2 pt-2">
    <grid-view (clickPage)="ClickPage($event)" [totalItems]="totalItems" [template]="templategrid"></grid-view>
  </div>
</div>
<ng-template #templategrid>
  <ejs-grid
  [dataSource]="listCapPhat"
  [height]="heightGrid - 50"
  [allowTextWrap]="true"
  [textWrapSettings]='wrapSettings'
  (rowSelected)="RowSelected($event)"
  (rowDeselected)="RowSelected($event,1)"
      >
    <e-columns>
      <e-column type='checkbox' width='40'>
        <ng-template #headerTemplate>
        </ng-template>
      </e-column>
      <e-column [headerText]="I18nLang.CapPhatDinhMuc.MaNhanVien" textAlign='Left' width=150>
        <ng-template #template let-item>
            <div class="text-start">{{item.EmployeeCode}}</div>
        </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.CapPhatDinhMuc.V3ID" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="text-start">{{item.BarCode}}</div>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.CapPhatDinhMuc.BU" textAlign='Left' width=140>
      <ng-template #template let-item>
          <span class="text-start">{{item.BU}}</span>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.CapPhatDinhMuc.FullName" width=250 textAlign='Left'>
        <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2">
                <img class="rounded-circle" width="40" height="40" [src]="getPhoto(item.EmployeeCode)" alt="" srcset="">
                <span class="text-start d-flex flex-wrap">{{item.EmployeeName}}</span>
            </div>
        </ng-template>
    </e-column>
    <e-column [headerText]="I18nLang.CapPhatDinhMuc.PhongBan" textAlign='Left' width=180>
        <ng-template #template let-item>
            <span class="text-start">{{item.DepartmentName}}</span>
        </ng-template>
    </e-column>
    <e-column [headerText]="I18nLang.CapPhatDinhMuc.NgayNhanViec" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.JoinDate  | date:'dd/MM/yyyy'}}</span>
      </ng-template>
    </e-column>
    <e-column [headerText]="I18nLang.CapPhatDinhMuc.NhomPhuNV" width=200 textAlign='Left'>
      <ng-template #template let-item>
        <div class="d-flex justify-content-center">
          <div class="d-flex gap-2 align-items-center" [ngClass]="{
            'Staff': item.NhomPhuCode == 'Staff' ,
            'DL': item.NhomPhuCode == 'DL',
            'IDL': item.NhomPhuCode == 'IDL',
            }">
              <span class="icon-Users-11"></span>
              <div>{{item.NhomPhuCode}}</div>
          </div>
        </div>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.CapPhatDinhMuc.ThangCapPhat" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.Thang}}</span>
      </ng-template>
    </e-column>
    <e-column [headerText]="I18nLang.CapPhatDinhMuc.TienDinhMuc1" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.DinhMuc1}}</span>
      </ng-template>
    </e-column>
    <e-column [headerText]="I18nLang.CapPhatDinhMuc.TienDinhMuc2" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.DinhMuc2}}</span>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.CapPhatDinhMuc.TongDinhMuc" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.TongDinhMuc}}</span>
      </ng-template>
    </e-column>

<!--
    <e-column headerText="Tổng tiền đã thanh toán" textAlign='Left' width=150>
      <ng-template #template let-item>
          <span class="text-start">{{item.TongTienDaThanhToan}}</span>
      </ng-template>
    </e-column>
    <e-column headerText="Định mức còn lại" textAlign='Left' width=180>
      <ng-template #template let-item>
        <div class="d-flex align-items-center gap-2 justify-content-center">
          <div *ngIf="item.DinhMucConLai > 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M7.99998 3.33337V12.6667M3.33331 8.00004H12.6666" stroke="#54BF61" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div *ngIf="item.DinhMucConLai < 0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M3.33331 8H12.6666" stroke="#C13535" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div [ngClass]="{'Cong': item.DinhMucConLai > 0,'True': item.DinhMucConLai < 0}">{{item.DinhMucConLai}}</div>
        </div>
      </ng-template>
    </e-column> -->

    </e-columns>
  </ejs-grid>
</ng-template>

<app-dialog (submit)="onSubmit()" height="714px" width="435px" #dialogCapPhat [headerText]="I18nLang.CapPhatDinhMuc.CapPhatDinhMuc" [templateBody]="content"></app-dialog>
<ng-template #content>
  <div class="container mt-3">
    <div class="row g-3">
      <div class="col-12">
        <app-input [(ngModel)]="tienDM1" type="number" [title]="I18nLang.CapPhatDinhMuc.TienDinhMuc1"></app-input>
      </div>
      <div class="col-12">
        <app-input [(ngModel)]="tienDM2" type="number" [title]="I18nLang.CapPhatDinhMuc.TienDinhMuc2"></app-input>
      </div>
      <div class="col-12">
        <app-combobox
        [title]="I18nLang.CapPhatDinhMuc.ChonNhanVien"
        [IsMultiSelect]="true"
        [dataSource]="tblEmployeesDialog"
        [showSeachDropDown]="true"
        [selectedItem]="selectetedEmployeesDialog"
        fieldName="EmployeeName"
        fieldName2="EmployeeCode"
        [searchField]="['EmployeeCode','EmployeeName']"
        (clickItem)="handleSelectEmpDialog($event)"
        ></app-combobox>
      </div>
      <div class="col-12">

        <app-combobox [title]="I18nLang.CapPhatDinhMuc.ChonThang"  [dataSource]="tblThang" fieldName="Thang" [selectedItem]="selectetedThangDialog" (clickItem)="selectetedThangDialog = $event"></app-combobox>
      </div>
    </div>
  </div>
</ng-template>

