<div class="bg-white width-screen">
    <div class="container-toolbar">
        <div class="left-toolbar d-flex gap-2 align-items-center">
          <app-breadcum></app-breadcum>
          <search-toolbar [(ngModel)]="SearchText" (onSearch)="onSearch()"></search-toolbar>

        </div>
        <div class="right-toolbar">
            <div class="button-toolbar" (click)="onAddNewEmp()">
                <span class="icon-General-113"></span>
                <span>{{I18Lang.Common.Add}}</span>
            </div>
            <div class="button-toolbar" (click)="onEdit()">
                <span class="icon-General-84"></span>
                <span>{{I18Lang.Common.Edit}}</span>
            </div>
            <div class="button-toolbar"  (click)="onDelete()">
                <span class="icon-General-163"></span>
                <span>{{I18Lang.Common.Delete}}</span>
            </div>
            <div class="button-toolbar" (click)="ExportMember()">
                <span class="icon-General-3"></span>
                <span>{{I18Lang.Common.Import}}</span>
            </div>
            <div class="button-toolbar" (click)="import.click()">
                <input onclick="this.value=null;" [hidden]="true" (change)="ImportMember($event)" type="file" #import
                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
                <span class="icon-General-101"></span>
                <span>{{I18Lang.Common.Export}}</span>
            </div>
        </div>
    </div>
    <div class="mx-2 mt-2">
        <grid-view (clickPage)="ClickPageMember($event)" [totalItems]="totalItems" [template]="templategrid"></grid-view>
    </div>
</div>
<ng-template #templategrid>
    <ejs-grid #grid allowTextWrap='true' [textWrapSettings]='wrapSettings' (recordClick)="selectedRow($event)" [height]="height - 16" [sortSettings]='sortOptions' [dataSource]='listEmployee' [allowSorting]="true" [pageSettings]="pageSettings">
        <e-columns>
            <e-column [headerText]="I18Lang.Account.MaNhanVien" textAlign='Left' width=150>
                <ng-template #template let-item>
                    <div class="text-start">{{item.EmployeeCode}}</div>
                </ng-template>
            </e-column>

            <e-column [headerText]="I18Lang.Account.V3ID" textAlign='Left' width=140>
                <ng-template #template let-item>
                    <div class="text-start">{{item.BarCode}}</div>
                </ng-template>
            </e-column>

            <e-column [headerText]="I18Lang.Account.BU" textAlign='Left' width=140>
                <ng-template #template let-item>
                    <span class="text-start">{{item.BU}}</span>
                </ng-template>
            </e-column>

            <e-column [headerText]="I18Lang.Account.TenNhanVien" width=250 textAlign='Left'>
                <ng-template #template let-item>
                    <div class="d-flex align-items-center gap-2">
                        <img class="rounded-circle" width="40" height="40" [src]="GetPhotoByUserID('aaaa')" alt="" srcset="">
                        <span class="text-start">{{item.EmployeeName}}</span>
                    </div>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.PhongBan" textAlign='Left' width=180>
                <ng-template #template let-item>
                    <span class="text-start">{{item.DepartmentCode}}</span>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.NgayNhanViec" textAlign='Left' width=180>
                <ng-template #template let-item>
                    <span class="text-start">{{item.JoinDate  | date:'dd/MM/yyyy'}}</span>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.NhomPhuNV" width=200 textAlign='Left'>
                <ng-template #template let-item>
                    <div class="d-flex justify-content-center">
                        <div class="d-flex gap-2 align-items-center" [ngClass]="{
                        'Staff': item.Status == 0 || true,
                        'DL': item.Status == 1,
                        'IDL': item.Status == 2,
                        }">
                            <span class="icon-Users-11"></span>
                            <div>{{item.NhomPhu}}</div>
                        </div>
                    </div>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.TinhTrang" width=120 textAlign='Left'>
                <ng-template #template let-item>
                    <div [ngClass]="{'status0': item.Status == 0,'status1': item.Status == 1}">
                        <ng-container>{{item.TinhTrang}}</ng-container>
                    </div>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.CostCenter" textAlign='Left' width=150>
                <ng-template #template let-item>
                    <span class="text-start">{{item.CostCenter}}</span>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.TransactionEntry" textAlign='Left' width=200>
                <ng-template #template let-item>
                    <span class="text-start">{{item.TranSactionEntry}}</span>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.Location" textAlign='Left' width=220>
                <ng-template #template let-item>
                    <span class="text-start">{{item.Location}}</span>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.EmployeeType" textAlign='Left' width=180>
                <ng-template #template let-item>
                    <span class="text-start">{{item.EmployeeType}}</span>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.EmployeeCategory" textAlign='Left' width=180>
                <ng-template #template let-item>
                    <span class="text-start">{{item.EmployeeCategory}}</span>
                </ng-template>
            </e-column>
            <e-column [headerText]="I18Lang.Account.XemLichSu" textAlign='Center' width=150>
                <ng-template #template let-item>
                    <div (click)="ClickHistoryEmp(item)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                              <path d="M12.5 13C13.0523 13 13.5 12.5523 13.5 12C13.5 11.4477 13.0523 11 12.5 11C11.9477 11 11.5 11.4477 11.5 12C11.5 12.5523 11.9477 13 12.5 13Z" stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M19.5 13C20.0523 13 20.5 12.5523 20.5 12C20.5 11.4477 20.0523 11 19.5 11C18.9477 11 18.5 11.4477 18.5 12C18.5 12.5523 18.9477 13 19.5 13Z" stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              <path d="M5.5 13C6.05228 13 6.5 12.5523 6.5 12C6.5 11.4477 6.05228 11 5.5 11C4.94772 11 4.5 11.4477 4.5 12C4.5 12.5523 4.94772 13 5.5 13Z" stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                    </div>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</ng-template>

<app-dialog
(submit)="SaveEmployee($event)"
#empaddnewdialog [headerText]="I18Lang.Account.NhanVien" [templateBody]="content" height="732px" width="585px">

</app-dialog>
<ng-template #content>
  <div class="container mt-3">
    <div class="row gy-3">
      <div class="col-10">
        <app-input  [(ngModel)]="FullName" [title]="I18Lang.Account.FullName"></app-input>
      </div>
      <div class="col-2 d-flex align-items-end justify-content-center">
        <div class="image-picker pointer" (click)="file2.click()">
          <span class="icon-Images-19" *ngIf="!stringImage && !stringImageBase64"></span>
          <div *ngIf="stringImage"
            [style]="'background-image:url(' + stringImage + ')'"
              class="pointer rounded picker-child" alt=""></div>
          <img class="rounded" width="80" height="80" *ngIf="stringImageBase64" [src]="getPhoto(stringImageBase64)" alt="" srcset="">
          <input #file2 type="file" multiple (change)="selectImage($event)" style="display: none;" />
        </div>
      </div>
      <div class="col-6">
        <app-input [(ngModel)]="MaNhanVien" [title]="I18Lang.Account.MaNhanVien"></app-input>
      </div>
      <div class="col-6">
        <app-input [(ngModel)]="V3ID" [title]="I18Lang.Account.V3ID"></app-input>
      </div>
      <div class="col-6">
        <app-input [(ngModel)]="BU" [title]="I18Lang.Account.BU"></app-input>
      </div>
      <div class="col-6">
        <app-tree-view fieldName="DepartmentName" [selectedItem]="selectedPhongBan" (clickItem)="selectedPhongBan = $event" type="dropdown" [dataSource]="tblBoPhan" [title]="I18Lang.Account.PhongBan"></app-tree-view>
      </div>
      <div class="col-6">
        <app-datetime [value]="NgayNhanViec" (clickDate)="NgayNhanViec = $event"  [title]="I18Lang.Account.NgayNhanViec"></app-datetime>
      </div>
      <div class="col-6">
        <app-combobox fieldName="NhomPhuName" [dataSource]="tblNhomPhu" (clickItem)="selectedNhomPhu = $event" [selectedItem]="selectedNhomPhu" [title]="I18Lang.Account.NhomPhuNV"></app-combobox>
      </div>
      <div class="col-6">
        <app-input [(ngModel)]="CostCenter"  [title]="I18Lang.Account.CostCenter"></app-input>
      </div>
      <div class="col-6">
        <app-input [(ngModel)]="TransactionEntry"  [title]="I18Lang.Account.TransactionEntry"></app-input>
      </div>
      <div class="col-6">
        <app-input  [(ngModel)]="Location" [title]="I18Lang.Account.Location"></app-input>
      </div>
      <div class="col-6">
        <app-combobox fieldName="TinhTrangName" [selectedItem]="selectedTinhTrang" [dataSource]="tblTinhTrang" (clickItem)="selectedTinhTrang = $event" [title]="I18Lang.Account.TinhTrang"></app-combobox>
      </div>
      <div class="col-6">
        <app-combobox fieldName="EmployeeTypeName" [dataSource]="tblEmployeeType" (clickItem)="selectedEmployeeType = $event" [selectedItem]="selectedEmployeeType"  [title]="I18Lang.Account.EmployeeType"></app-combobox>
      </div>
      <div class="col-6">
        <app-input [(ngModel)]="EmployeeCategory" [title]="I18Lang.Account.EmployeeCategory"></app-input>
      </div>
    </div>
  </div>
</ng-template>


<app-dialog #dialogHistory [isFooter]="false" height="100vh" width="70%" [headerText]="I18Lang.Account.XemLichSu" [templateBody]="tempHistory"></app-dialog>
<ng-template #tempHistory>
  <div class="align-items-center d-flex header-history justify-content-between ng-star-inserted p-4 pb-2 px-2">
      <div class="d-flex gap-3">
          <img class="rounded-circle" width="60" height="60" [src]="GetPhotoByUserID(EmployeeSelected?.EmployeeCode)" alt="" srcset="">
          <div>
              <div class="text-common-black fs-18 fw-600">{{EmployeeSelected?.EmployeeName}}</div>

              <div class="text-common-black fs-14 fw-400">{{EmployeeSelected?.DepartmentCode}}</div>
          </div>
      </div>
  </div>
  <div>
      <div class="mt-3">
        <grid-view (clickPage)="ClickPagerHistory($event)" [template]="gridHistory" [dataSource]="listHistory" [totalItems]="totalItemsHistory"></grid-view>
      </div>
  </div>
  <ng-template #gridHistory>
    <ejs-grid [dataSource]="listHistory" [height]="430" [allowTextWrap]="true" [textWrapSettings]='wrapSettings'>
      <e-columns>
          <e-column [headerText]="I18Lang.Account.TenNhanVien" textAlign='Left' width=150>
              <ng-template #template let-item>
                  <div class="text-start">{{item.EmployeeName}}</div>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.V3ID" textAlign='Left' width=110>
              <ng-template #template let-item>
                  <div class="text-start">{{item.BarCode}}</div>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.GioQuetThe" textAlign='Left' width=150>
              <ng-template #template let-item>
                  <div class="text-start">{{item.ScanTime | date:'dd/MM/yyyy hh:mm'}}</div>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.Thu" textAlign='Left' width=110>
              <ng-template #template let-item>
                  <div class="text-start">{{item.ScanTime | date :'EEEE'}}</div>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.NgayQuetThe" textAlign='Left' width=140>
              <ng-template #template let-item>
                  <div class="text-start">{{item.ScanTime | date:'dd/MM/yyyy' }}</div>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.Line" textAlign='Left' width=140>
              <ng-template #template let-item>
                  <div class="text-start">{{item.TenLine}}</div>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.LoaiMon" textAlign='Left' width=140>
              <ng-template #template let-item>
                  <div class="d-flex justify-content-between">
                      <div class="d-flex gap-2 align-items-center" [ngClass]="{
        'type-food-1': item.LoaiMon == 1 || true,
        'type-food-2': item.LoaiMon == 2,
        'type-food-3': item.LoaiMon == 3,
        }">
                          <span class="icon-FinanceCommerce-68"></span>
                          <div class="text-start">{{item.LoaiMon}}</div>
                      </div>
                  </div>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.CaLamViec" textAlign='Left' width=180>
              <ng-template #template let-item>
                  <span class="text-start">{{item.MaCa}}</span>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.PhongBan" textAlign='Left' width=180>
              <ng-template #template let-item>
                  <span class="text-start">{{item.DepartmentName}}</span>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.SoLuong" textAlign='Left' width=150>
              <ng-template #template let-item>
                  <span class="text-start">{{item.SoLuong}}</span>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.DonGia" textAlign='Left' width=200>
              <ng-template #template let-item>
                  <span class="text-start">{{item.DonGia}}</span>
              </ng-template>
          </e-column>
          <e-column [headerText]="I18Lang.Account.ThanhTien" textAlign='Left' width=200>
              <ng-template #template let-item>
                  <span class="text-start">{{item.ThanhTien}}</span>
              </ng-template>
          </e-column>
      </e-columns>
    </ejs-grid>
  </ng-template>
</ng-template>
