<div class="bg-white width-screen">
    <div class="container-toolbar">
        <div class="left-toolbar d-flex gap-2 align-items-center">
          <app-breadcum></app-breadcum>
          <search-toolbar [(ngModel)]="searchText" (onSearch)="onSearch()"></search-toolbar>

        </div>
        <div class="right-toolbar">
            <div class="button-toolbar" (click)="onAdd()">
                <span class="icon-General-113"></span>
                <span>{{I18Lang.Common.Add}}</span>
            </div>
            <div class="button-toolbar" (click)="onEdit()">
                <span class="icon-General-84"></span>
                <span>{{I18Lang.Common.Edit}}</span>
            </div>
            <div class="button-toolbar" (click)="onDelete()">
                <span class="icon-General-163"></span>
                <span>{{I18Lang.Common.Delete}}</span>
            </div>
            <div class="button-toolbar">
                <span class="icon-General-3"></span>
                <span>{{I18Lang.Common.Import}}</span>
            </div>
        </div>
    </div>
    <div class="mx-2">
        <grid-view [totalItems]="totalItems" (clickPage)="ClickPagerIndex($event)" [template]="templategrid"></grid-view>
    </div>
</div>

<ng-template #templategrid>
    <ejs-grid (recordClick)="selectedRowTable($event)" [height]="height" [sortSettings]='sortOptions' [dataSource]='listSubgroup' [allowSorting]="true" [pageSettings]="pageSettings">
        <e-columns>
            <e-column headerText="{{I18Lang.FoodShift.MaCa}}" textAlign='Left' width=50>
                <ng-template #template let-item>
                    <div>{{item.MaCa}}</div>
                </ng-template>
            </e-column>
            <e-column headerText="{{I18Lang.FoodShift.TenCa}}" width=40 textAlign='Left'>
                <ng-template #template let-item>
                    <span> {{item.TenCa}}</span>
                </ng-template>
            </e-column>
            <e-column headerText="{{I18Lang.FoodShift.GhiChu}}" width=100 textAlign='Left'>
                <ng-template #template let-item>
                  <ejs-tooltip [content]='item?.GhiChu ?? ""' target="#GhiChu">
                    <div id="GhiChu" class="text-start text-truncate-2">{{item.GhiChu}}</div>
                 </ejs-tooltip>
                </ng-template>
            </e-column>
            <e-column headerText="{{I18Lang.FoodShift.BeginDate}}" width=70 textAlign='Left'>
                <ng-template #template let-item>
                    <span>{{item.ThoiGianBatDau}}</span>
                </ng-template>
            </e-column>
            <e-column headerText="{{I18Lang.FoodShift.EndDate}}" width=70 textAlign='Left'>
                <ng-template #template let-item>
                    <span>{{item.ThoiGianKetThuc}}</span>
                </ng-template>
            </e-column>
        </e-columns>
    </ejs-grid>
</ng-template>


<app-dialog height="714px" #dialogAdd
[templateBody]="content"
(submit)="onSubmit()"
[headerText]="I18Lang.FoodShift.CaLamViec"></app-dialog>



<ng-template #content>
  <div class="container mt-3">
    <div class="row gy-3">
      <div class="col-12">
        <app-input [(ngModel)]="MaCa" [title]="I18Lang.FoodShift.MaCa"></app-input>
      </div>
      <div class="col-12">
        <app-input [(ngModel)]="TenCa" [title]="I18Lang.FoodShift.TenCa"></app-input>
      </div>
      <div class="col-12">
        <app-input [(ngModel)]="GhiChu" type="text-area" [title]="I18Lang.FoodShift.GhiChu"></app-input>
      </div>
      <div class="col-6">
        <app-time [value]="BatDau" (clickTime)="BatDau = $event" [title]="I18Lang.FoodShift.BeginDate"></app-time>
      </div>
      <div class="col-6">
        <app-time [value]="KetThuc" (clickTime)="KetThuc = $event" [title]="I18Lang.FoodShift.EndDate"></app-time>
      </div>
    </div>
  </div>
</ng-template>

