<div class="bg-white width-screen">
    <div class="container-toolbar">
        <div class="left-toolbar d-flex gap-2 align-items-center">
            <span class="icon-Development-29 fs-24 text-common-black fw-600"></span>
            <span class="text-common-black fw-600 fs-16">Cơ cấu tổ chức</span>
        </div>
        <div class="right-toolbar">
            <div class="button-toolbar">
                <span class="icon-General-113"></span>
                <span>Thêm</span>
            </div>
            <div class="button-toolbar">
                <span class="icon-General-84"></span>
                <span>Chỉnh Sửa</span>
            </div>
            <div class="button-toolbar">
                <span class="icon-General-163"></span>
                <span>Xoá</span>
            </div>
            <div class="button-toolbar">
                <span class="icon-General-101"></span>
                <span>Nhập khẩu</span>
            </div>
        </div>
    </div>
    <div>
        <div class="container-group">
            <div class="border-end ps-3" style="overflow: auto;" [ngStyle]="{'height':height - 125 + 'px'}">
                <div class="container-sidebar pe-4 pt-2 position-relative" [ngStyle]="{height: height + 'px'}">
                    <ul>
                        <ng-template #templateTree let-dataList>
                            <li *ngFor="let item of dataList" class="mb-2">
                                <div (click)="ToggleTabs(item)" [ngClass]="{'active-child':item.DepartmentCode == tabSelected?.DepartmentCode}" class="tabs d-flex gap-2 align-items-center rounded w-100 pointer">
                                    <i class="bi bi-dot" style="font-size: 30px;"></i>
                                    <span class="caret flex-1 fs-14 fw-500">{{item.DepartmentName}}</span>
                                </div>
                                <ul class="nested mt-2" *ngIf="item.Children.length > 0">
                                    <ng-container *ngTemplateOutlet="templateTree; context: {$implicit: item.Children}"></ng-container>
                                </ul>
                            </li>
                        </ng-template>
                        <ng-container *ngTemplateOutlet="templateTree; context: {$implicit: listDepartment}"></ng-container>
                    </ul>
                </div>
            </div>
            <div class="p-2" [ngStyle]="{'width': width + 'px'}">
                <div class="d-flex align-items-center justify-content-between mx-2">
                    <!-- <div class="d-flex flex-column gap-2">
                        <div class="text-common-black fs-22 fw-600">{{tabSelected?.DepartmentName}}</div>
                    </div>
                    <div class="d-flex flex-column gap-2 align-items-center justify-content-center">
                        <div class="NumMember">{{TotalItems}}</div>
                        <div>Nhân Viên</div>
                    </div> -->
                </div>
                <div class="mt-2">
                    <grid-view [totalItems]="TotalItems" (clickPage)="ClickPageEmp($event)" [template]="templateGrid"></grid-view>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #templateGrid >
  <ejs-grid #grid allowTextWrap='true' [height]="height - 240" [dataSource]='listEmployee' [allowSorting]="true">
      <e-columns>
          <e-column headerText="Mã Đơn vị" textAlign='Left' width=150>
              <ng-template #template let-item>
                  <div class="text-start">{{item.DepartmentCode}}</div>
              </ng-template>
          </e-column>

          <e-column headerText="Tên Đơn vị" textAlign='Left' width=140>
            <ng-template #template let-item>
                <div class="text-start">{{item.DepartmentName}}</div>
            </ng-template>
          </e-column>

          <!-- <e-column headerText="Phòn ban cha" textAlign='Left' width=140>
            <ng-template #template let-item>
                <div class="text-start">{{item.BarCode}}</div>
            </ng-template>
          </e-column> -->

          <!-- <e-column headerText="BU" textAlign='Left' width=140>
            <ng-template #template let-item>
                <span class="text-start">{{item.BU}}</span>
            </ng-template>
          </e-column>

          <e-column headerText="Họ và tên (VN)" width=180 textAlign='Left'>
              <ng-template #template let-item>
                  <div class="d-flex align-items-center gap-2">
                      <img width="40" height="40" [src]="getPhoto(item.EmployeeCode)" alt="" srcset="">
                      <span class="text-start">{{item.EmployeeName}}</span>
                  </div>
              </ng-template>
          </e-column>
          <e-column headerText="Phòng ban" textAlign='Left' width=180>
              <ng-template #template let-item>
                  <span class="text-start">{{item.DepartmentCode}}</span>
              </ng-template>
          </e-column>
          <e-column headerText="Ngày nhận việc" textAlign='Left' width=180>
            <ng-template #template let-item>
                <span class="text-start">{{item.JoinDate  | date:'dd/MM/yyyy'}}</span>
            </ng-template>
          </e-column>
          <e-column headerText="Nhóm phụ nhân viên" width=200 textAlign='Left'>
            <ng-template #template let-item>
              <div class="d-flex justify-content-center">
                <div class="d-flex gap-2 align-items-center" [ngClass]="{
                  'Staff': item.Status == 0 || true,
                  'DL': item.Status == 1,
                  'IDL': item.Status == 2,
                  }">
                    <span class="icon-Users-11"></span>
                    <div>{{item.NhomPhu}}</div>
                </div>
              </div>
            </ng-template>
          </e-column>
          <e-column headerText="Tình trạng" width=120 textAlign='Left'>
              <ng-template #template let-item>
                  <div [ngClass]="{'status0': item.Status == 0,'status1': item.Status == 1}">
                      <ng-container>{{item.TinhTrang}}</ng-container>
                  </div>
              </ng-template>
          </e-column>
          <e-column headerText="CostCenter" textAlign='Left' width=150>
            <ng-template #template let-item>
                <span class="text-start">{{item.CostCenter}}</span>
            </ng-template>
          </e-column>
          <e-column headerText="Transaction Entry" textAlign='Left' width=180>
            <ng-template #template let-item>
                <span class="text-start">{{item.TranSactionEntry}}</span>
            </ng-template>
          </e-column>
          <e-column headerText="Location" textAlign='Left' width=150>
            <ng-template #template let-item>
                <span class="text-start">{{item.Location}}</span>
            </ng-template>
          </e-column>
          <e-column headerText="EmployeeType" textAlign='Left' width=150>
            <ng-template #template let-item>
                <span class="text-start">{{item.EmployeeType}}</span>
            </ng-template>
          </e-column>
          <e-column headerText="EmployeeCategory" textAlign='Left' width=180>
            <ng-template #template let-item>
                <span class="text-start">{{item.EmployeeCategory}}</span>
            </ng-template>
          </e-column> -->
      </e-columns>
  </ejs-grid>
</ng-template>


