<div class="bg-white width-screen">
    <div class="container-toolbar">
        <div class="left-toolbar d-flex gap-2 align-items-center">
            <!-- <span class="icon-Development-29 fs-24 text-common-black fw-600"></span>
            <span class="text-common-black fw-600 fs-16">Cơ cấu tổ chức</span> -->
            <app-breadcum></app-breadcum>
            <search-toolbar [(ngModel)]="searchText" (onSearch)="onSearch()"></search-toolbar>
        </div>
        <div class="right-toolbar">
            <div class="button-toolbar" (click)="onOpenAdd()">
                <span class="icon-General-113"></span>
                <span>{{this._languageService.I18LangService.Common.Add}}</span>
            </div>
            <div class="button-toolbar" (click)="onOpenEdit()">
                <span class="icon-General-84"></span>
                <span>{{this._languageService.I18LangService.Common.Edit}}</span>
            </div>
            <div class="button-toolbar" (click)="onDelete()">
                <span class="icon-General-163"></span>
                <span>{{this._languageService.I18LangService.Common.Delete}}</span>
            </div>
            <!-- <div class="button-toolbar" (click)="onDelete()">
                <span class="icon-General-101"></span>
                <span>Nhập khẩu</span>
            </div> -->
        </div>
    </div>
    <div>
        <div class="container-group">
            <div class="border-end ps-3" style="overflow: auto;" [ngStyle]="{'height':height - 125 + 'px'}">
                <div class="container-sidebar pe-4 pt-2 position-relative" [ngStyle]="{height: height + 'px'}">
                    <ul>
                        <ng-template #templateTree let-dataList>
                            <li *ngFor="let item of dataList" class="mb-2">
                                <div (click)="ToggleTabs(item)" [ngClass]="{'active-child':item.DepartmentCode == tabSelected?.DepartmentCode}" class="tabs d-flex gap-2 align-items-center rounded w-100 pointer">
                                    <i class="bi bi-dot" style="font-size: 30px;"></i>
                                    <span class="caret flex-1 fs-14 fw-500">{{item.DepartmentName}}</span>
                                </div>
                                <ul class="nested mt-2" *ngIf="item.Children.length > 0">
                                    <ng-container *ngTemplateOutlet="templateTree; context: {$implicit: item.Children}"></ng-container>
                                </ul>
                            </li>
                        </ng-template>
                        <ng-container *ngTemplateOutlet="templateTree; context: {$implicit: listDepartment}"></ng-container>
                    </ul>
                </div>
            </div>
            <div class="p-2" [ngStyle]="{'width': width + 'px'}">
                <div class="d-flex align-items-center justify-content-between mx-2">
                </div>
                <div class="mt-2">
                    <grid-view [totalItems]="TotalItems" (clickPage)="ClickPageEmp($event)" [template]="templateGrid"></grid-view>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #templateGrid >
  <ejs-grid (recordClick)="ClickItems($event)" #grid allowTextWrap='true' [height]="height - 240" [dataSource]='listEmployee' [allowSorting]="true">
      <e-columns>
          <e-column [headerText]="this._languageService.I18LangService.Department.MaDonVi" textAlign='Left' width=150>
              <ng-template #template let-item>
                  <div class="text-start">{{item.DepartmentCode}}</div>
              </ng-template>
          </e-column>

          <e-column [headerText]="this._languageService.I18LangService.Department.TenDonVi" textAlign='Left' width=140>
            <ng-template #template let-item>
                <div class="text-start">{{item.DepartmentName}}</div>
            </ng-template>
          </e-column>
      </e-columns>
  </ejs-grid>
</ng-template>



<ejs-dialog (open)="$event.preventFocus = true" [isModal]="true" [position]="{ X: 'center', Y: 'center' }" #dialogAdd showCloseIcon='true' [height]='500' width='585px' [visible]='false'>
  <ng-template #header>
    <div class="text-common-black fs-18 fw-600">{{_languageService.I18LangService.Department.CoCauToChuc}}</div>
  </ng-template>
  <ng-template #content>
    <div class="container mt-3">
      <div class="row gy-3">
        <div class="col-12">
          <app-input [(ngModel)]="MaDonVi" title="Mã đơn vị"></app-input>
        </div>
        <div class="col-12">
          <app-input [(ngModel)]="TenDonVi" title="Tên đơn vị"></app-input>
        </div>
        <div class="col-12">
          <app-tree-view fieldName="DepartmentName" [selectedItem]="DonViCha" (clickItem)="DonViCha = $event" title="Thuộc đơn vị" type="dropdown" [dataSource]="listDepartment"></app-tree-view>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="d-flex gap-2 align-items-center justify-content-between ms-4">
      <div>
      </div>
      <div class="d-flex align-items-center gap-2">
        <button class="btn button-app-second " (click)="dialogAdd.hide()">{{this._languageService.I18LangService.Common.Close}}</button>
        <button class="btn button-app" (click)="submitDialog()">{{this._languageService.I18LangService.Common.Save}}</button>
      </div>
    </div>
  </ng-template>
</ejs-dialog>

