<div class="bg-white width-screen">
  <div class="container-toolbar">
    <div class="left-toolbar d-flex gap-2 align-items-center">
      <app-breadcum></app-breadcum>
      <search-toolbar [(ngModel)]="SearchText" (onSearch)="onSearch()"></search-toolbar>
    </div>
    <div class="right-toolbar">
      <div class="button-toolbar">
        <span class="icon-General-113"></span>
        <span>{{I18nLang.Common.Add}}</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-84"></span>
        <span>{{I18nLang.Common.Edit}}</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-163"></span>
        <span>{{I18nLang.Common.Delete}}</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-Arrows-63"></span>
        <span>{{I18nLang.TheKhach.TraThe}}</span>
      </div>
    </div>
  </div>
  <div class="mx-2 mt-2">
    <grid-view [template]="templategrid"></grid-view>
  </div>
</div>

<ng-template #templategrid>
  <ejs-grid
  [dataSource]="listCapPhat"
  [height]="heightGrid"
  [allowTextWrap]="true"
  (recordClick)="clickGrid($event)"
  [textWrapSettings]='wrapSettings'>
    <e-columns>

    <e-column [headerText]="I18nLang.TheKhach.IDThe" textAlign='Left' width=130>
      <ng-template #template let-item>
          <div class="text-start">{{item.MaTheKhach}}</div>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.TheKhach.FullName" width=160 textAlign='Left'>
        <ng-template #template let-item>
            <div class="d-flex align-items-center gap-2">
                <img width="40" height="40" src="./assets/images/avatar.png" alt="" srcset="">
                <span class="text-start">{{item.HoTen}}</span>
            </div>
        </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.TheKhach.HanMucNgay" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="text-start">{{item.HanMucNgay  | number: '2.'}}</div>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.TheKhach.ThoiGianSuDung" textAlign='Left' width=160>
      <ng-template #template let-item>
          <div class="text-start">{{item.ThoiGianSuDung | date: 'dd/MM/yyyy'}}</div>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.TheKhach.NguoiCapThe" width=220 textAlign='Left'>
      <ng-template #template let-item>
          <div class="d-flex align-items-center gap-2">
              <img width="40" height="40" [src]="getPhoto(item.NguoiCap)" alt="" srcset="">
              <div class="d-flex gap-2 flex-column">
                <div class="text-start">{{item.NguoiCap}}</div>
                <div class="d-flex gap-2">
                  <div class="fs-12 text-common-gray fw-400">{{item.CreatedOn | date: 'dd/MM/yyyy'}}</div>
                  <div class="fs-12 text-common-gray fw-400">{{item.CreatedOn | date: 'shortTime'}}</div>
                </div>
              </div>
          </div>
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.TheKhach.GhiChu" textAlign='Left' width=170>
      <ng-template #template let-item>
          <ejs-tooltip id='tooltip' [content]='item.GhiChu ?? ""' target="#targetCard">
              <div id="targetCard" style="width: 160px;" class="text-start text-truncate-2">{{item.GhiChu}}</div>
          </ejs-tooltip>
      </ng-template>
    </e-column>

    <e-column  [headerText]="I18nLang.TheKhach.CoTraThe" width="140" textAlign='Center'>
      <ng-template #template let-item>
          <input class="point-none fs-20 form-check-input" type="checkbox" [checked]="item.TraThe">
      </ng-template>
    </e-column>

    <e-column [headerText]="I18nLang.TheKhach.XemLichSu" textAlign='Center' width=130>
      <ng-template #template let-item>
          <div>
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                <path d="M12.5 13C13.0523 13 13.5 12.5523 13.5 12C13.5 11.4477 13.0523 11 12.5 11C11.9477 11 11.5 11.4477 11.5 12C11.5 12.5523 11.9477 13 12.5 13Z" stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.5 13C20.0523 13 20.5 12.5523 20.5 12C20.5 11.4477 20.0523 11 19.5 11C18.9477 11 18.5 11.4477 18.5 12C18.5 12.5523 18.9477 13 19.5 13Z" stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.5 13C6.05228 13 6.5 12.5523 6.5 12C6.5 11.4477 6.05228 11 5.5 11C4.94772 11 4.5 11.4477 4.5 12C4.5 12.5523 4.94772 13 5.5 13Z" stroke="#C1C1C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </div>
      </ng-template>
    </e-column>
    </e-columns>
  </ejs-grid>
</ng-template>

<app-dialog [headerText]="I18nLang.TheKhach.CapPhatTheKhach" (submit)="submitDialog()" #dialogCapPhat [templateBody]="content"></app-dialog>
<ng-template #content>
  <div class="container mt-3">
    <div class="row gy-3">
      <div class="col-12">
        <app-combobox [dataSource]="tblTheKhach" (clickItem)="selectedTheKhach = $event" [selectedItem]="selectedTheKhach" fieldName="MaTheKhach"></app-combobox>
      </div>
      <div class="col-12">
        <app-input [(ngModel)]="NguoiNhanThe"></app-input>
      </div>
      <div class="col-12">
        <app-input [(ngModel)]="GhiChu"></app-input>
      </div>
      <div class="col-6">
        <app-input [(ngModel)]="HanMucNgay"></app-input>
      </div>
      <div class="col-6">
        <app-datetime [value]="NguoiNhanThe" (clickDate)="NguoiNhanThe = $event"></app-datetime>
      </div>
    </div>
  </div>
</ng-template>


<app-dialog [headerText]="I18nLang.TheKhach.TraThe" [isFooter]="true" [templateFooter]="footerDialog" (submit)="onSubmitTraThe()" #dialogTraThe [templateBody]="contentTraThe"></app-dialog>
<ng-template #contentTraThe>
  <div class="container mt-3">
    <div class="row gy-3">
      <div class="col-12">
        <app-input [disabled]="true" [(ngModel)]="MaTheTra"></app-input>
      </div>
      <div class="col-12">
        <app-input [disabled]="true" [(ngModel)]="NguoiTra"></app-input>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #footerDialog>
  <div class="d-flex gap-2 align-items-center justify-content-between ms-4">
    <div>
    </div>
    <div class="d-flex align-items-center gap-2">
      <button class="btn button-app-second " (click)="dialogTraThe.hide()">Đóng</button>
      <button *ngIf="isNotTraThe" class="btn button-app" (click)="onSubmitTraThe()">Lưu</button>
    </div>
  </div>
</ng-template>
