<div class="d-flex flex-column flex-shrink-0 container-sidebar z-1">
  <ul class="nav nav-pills nav-flush flex-row mb-auto text-center" style="height: 90%;" class="scroll">
    <li style="z-index: 1;" (click)="fnClickTab(item)" class="nav-item content-sidebar mt-3" [ngClass]="{'active-tab':tabSelected == item.MenuID}" *ngFor="let item of ListSideBar">
      <!-- <div style="pointer-events:none" [innerHTML]="fnSanitizer(item.Icon)"></div> -->
      <i class="bi bi-{{item.Icon}}" style="font-size:22px;color:white"></i>
      <div class="label-sidebar">{{item.Label}}</div>
    </li>
  </ul>
</div>
