.container-sidebar{
  width: 245px;
  //height: 100%;
  overflow: auto;
  background-color: #f4f4f4;
}
.label-sidebar{
  color: var(--AppColor14);
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 0 2px;
  text-align: center;
}
.content-sidebar:hover{
  cursor: pointer;
  opacity: 0.8;
}
.svg{
  position: relative;
  z-index: -1;
}

.active-tab{
  cursor: pointer;
  background: #FFF;
  border-radius: 10px;
  margin-left: 1.5px;
}
.active-tab div{
  color: var(--Color1);
}
.icon-sidebar{
  color: var(--AppColor14);
  font-size:20px;
}
.content-sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 4px;
  min-height: 76px;
  max-height: 80px;
  gap: 5px;

}


::-webkit-scrollbar {
  width: 2px;
  border-radius:10px
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.scroll{
  overflow-y: scroll;
}


// ----------------------


li, #myUL {
}



.nested {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  margin-left: 18px;
  li{
    cursor: pointer;
  }
}

.active-tab {
  background: var(--Color-Primary);
  color: #fff;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
    pointer-events: none;
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.child-tab:hover{
  background: var(--Color-Secondary);
}

.child-tab.active-child{
  background: var(--Color-Secondary);
}
.tabs{
  padding: 12px 5px 12px 10px;
}
.child-tab{
  padding: 0.2rem 0;
}
