<div class="bg-white width-screen">
  <div class="container-toolbar pb-2">
    <div class="left-toolbar d-flex gap-2 align-items-center">
      <app-breadcum></app-breadcum>
    </div>
    <div class="right-toolbar">
      <!-- <div class="button-toolbar">
        <span class="icon-General-84"></span>
        <span>Cấp phát định mức</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-20"></span>
        <span>Chọn nhiều dòng</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-101"></span>
        <span>Nhập khẩu</span>
      </div> -->
    </div>
  </div>
  <!-- <div class="container-toolbar justify-content-start gap-4">
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">BU</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">Phòng ban</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>
    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">Nhân viên</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>

    <div class="d-flex align-items-center gap-2" >
      <div class="text-common-black fs-14 fw-600">Năm/Tháng</div>
      <div style="width: 228px;" class="bg-white">
        <app-dropdown ></app-dropdown>
      </div>
    </div>
  </div> -->
  <div class="mx-2 mt-2">
    <grid-view (clickPage)="ClickPage($event)" [totalItems]="totalItems" [template]="templategrid"></grid-view>
  </div>
</div>

<ng-template #templategrid>
  <ejs-grid
  [dataSource]="listHistory"
  [height]="heightGrid + 10"
  [allowTextWrap]="true"
  [textWrapSettings]='wrapSettings'>
    <e-columns>
      <e-column headerText="Mã Nhân viên" textAlign='Left' width=150>
        <ng-template #template let-item>
            <div class="text-start">{{item.EmployeeName}}</div>
        </ng-template>
    </e-column>

    <e-column headerText="V3ID" textAlign='Left' width=110>
      <ng-template #template let-item>
          <div class="text-start">{{item.BarCode}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="Giờ quét thẻ" textAlign='Left' width=150>
      <ng-template #template let-item>
          <div class="text-start">{{item.ScanTime | date:'dd/MM/yyyy hh:mm'}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="Thứ" textAlign='Left' width=110>
      <ng-template #template let-item>
          <div class="text-start">{{item.ScanTime | date :'EEEE'}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="Ngày quét thẻ" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="text-start">{{item.ScanTime | date:'dd/MM/yyyy' }}</div>
      </ng-template>
    </e-column>



    <e-column headerText="Line" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="text-start">{{item.TenLine}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="Loại món" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="d-flex justify-content-between">
            <div class="d-flex gap-2 align-items-center" [ngClass]="{
              'type-food-1': item.LoaiMon == 1 || true,
              'type-food-2': item.LoaiMon == 2,
              'type-food-3': item.LoaiMon == 3,
              }">
              <span class="icon-FinanceCommerce-68"></span>
              <div
              class="text-start">{{item.LoaiMon}}</div>
            </div>
          </div>
      </ng-template>
    </e-column>

    <e-column headerText="Nhóm phụ nhân viên" width=200 textAlign='Left'>
      <ng-template #template let-item>
        <div class="d-flex justify-content-center">
          <div class="d-flex gap-2 align-items-center" [ngClass]="{
            'Staff': item.NhomPhuCode == 0 || true,
            'DL': item.NhomPhuCode == 1,
            'IDL': item.NhomPhuCode == 2,
            }">
              <span class="icon-Users-11"></span>
              <div>{{item.NhomPhuCode}}</div>
          </div>
        </div>
      </ng-template>
    </e-column>

    <e-column headerText="Loại nhân viên" width=150 textAlign='Left'>
      <ng-template #template let-item>
          <div [ngClass]="{'status0': item.Status == 0,'status1': item.Status == 1}">
              <ng-container>{{item.EmployeeType}}</ng-container>
          </div>
      </ng-template>
    </e-column>

    <e-column headerText="Ca làm việc" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.MaCa}}</span>
      </ng-template>
    </e-column>


    <e-column headerText="Costcenter" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.CostCenter}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Phòng ban" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.DepartmentName}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Số lượng" textAlign='Left' width=150>
      <ng-template #template let-item>
          <span class="text-start">{{item.SoLuong}}</span>
      </ng-template>
    </e-column>
    <e-column headerText="Đơn giá" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.DonGia}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Thành tiền" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.ThanhTien}}</span>
      </ng-template>
    </e-column>


    </e-columns>
  </ejs-grid>
</ng-template>
