.header-dialog{
  color: var(--Text1, #000);

  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 100% */
  letter-spacing: -0.22px;
}
.updated-person{
  display: flex;
  flex-direction: row;
  gap: 5px;
    .img-user{
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      border-radius: 5px;
    }
    .info-user{
        display: flex;
        flex-direction: column;
        align-items: start;
        .name{
          color: var(--Text1, #000);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 157.143% */
          letter-spacing: -0.14px;
        }
        .code{
          color: var(--Text1, #000);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.12px;
        }
    }
}
.content{
    white-space: normal;
}
.dialogContent{
  margin-top: 25px;
  input{
    border: 0;
    outline: 0;
    display: flex;
    padding: 8px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    border: 0.5px solid var(--Text3, #C1C1C1);
    width: 100%;
    font-size: 14px;
  }
  textarea{
    width: 100%;
    outline: none;
    border: 0.5px solid var(--Text3, #C1C1C1);
    border-radius: 5px;
    resize: none;
    padding: 1rem;
  }
}
.dropdown-menu-custom{
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
}

.dropdown-menu-custom li:hover{
  background-color: #C1C1C1;
  cursor: pointer;
}
.dropdown .input-dropdown{
  width: 100%;
}
.dropdown-menu-custom li{
  padding: 0.8rem;
}
.dialog-footer{
  padding: 25px 35px 25px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  .cancel-btn{
    color: var(--White, #FFF);
    text-align: center;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 157.143% */
    letter-spacing: -0.14px;
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--Color1, #007455);
    border: none;
    width: 120px;
    height: 42px;

  }
}
.e-checkbox-wrapper .e-frame.e-check{
  background-color: var(--Color1, #007455) !important;
}
.e-label{
  color: var(--Text1, #000);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--Color1, #007455);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--Color1, #007455);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
.icon-date{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.icon-Time-20{
  font-size: 20px;
  color: black;
}
.clock-icon{
  position: relative;
  float: right;
  bottom: 27px;
  right: 11px;
}
