<div class="bg-white width-screen">
  <div class="container-toolbar">
    <div class="left-toolbar d-flex gap-2 align-items-center">
      <app-breadcum></app-breadcum>
    </div>
    <div class="right-toolbar">
      <!-- <div class="button-toolbar">
        <span class="icon-General-113"></span>
        <span>Thêm</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-84"></span>
        <span>Sửa</span>
      </div>
      <div class="button-toolbar">
        <span class="icon-General-163"></span>
        <span>Xoá</span>
      </div> -->
      <!-- <div class="button-toolbar">
        <span class="icon-General-3"></span>
        <span>Trả thẻ</span>
      </div> -->
    </div>
  </div>
  <div class="mx-2 pt-2">
    <grid-view [template]="templateGrid"></grid-view>
  </div>
</div>

<ng-template #templateGrid>
  <ejs-grid
  [dataSource]="LSitems"
  [height]="heightGrid "
  [allowTextWrap]="true"
  [textWrapSettings]='wrapSettings'>
  <e-columns>

    <e-column headerText="Mã thẻ" textAlign='Left' width=110>
      <ng-template #template let-item>
          <div class="text-start">{{item.MaTheKhach}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="Giờ quét thẻ" textAlign='Left' width=150>
      <ng-template #template let-item>
          <div class="text-start">{{item.ScanTime | date:'hh:mm'}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="Thứ" textAlign='Left' width=110>
      <ng-template #template let-item>
          <div class="text-start">{{item.ScanTime | date:'EEEE'}}</div>
      </ng-template>
    </e-column>



    <e-column headerText="Ngày quét thẻ" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="text-start">{{item.ScanTime | date:'dd/MM/yyyy'}}</div>
      </ng-template>
    </e-column>


    <e-column headerText="Line" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="text-start">{{item.TenLine}}</div>
      </ng-template>
    </e-column>

    <e-column headerText="Loại món" textAlign='Left' width=140>
      <ng-template #template let-item>
          <div class="d-flex gap-2 align-items-center" >
            <span class="icon-FinanceCommerce-68"></span>
            <div
            class="text-start">{{item.LoaiMon}}</div>
          </div>
      </ng-template>
    </e-column>
    <!-- [ngClass]="{
      'type-food-1': item.LoaiMon == 1 || true,
      'type-food-2': item.LoaiMon == 2,
      'type-food-3': item.LoaiMon == 3,
      }" -->
    <e-column headerText="Ca làm việc" textAlign='Left' width=180>
      <ng-template #template let-item>
          <span class="text-start">{{item.MaCa}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Số lượng" textAlign='Left' width=150>
      <ng-template #template let-item>
          <span class="text-start">{{item.SoLuong}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Đơn giá" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.DonGia}}</span>
      </ng-template>
    </e-column>

    <e-column headerText="Thành tiền" textAlign='Left' width=200>
      <ng-template #template let-item>
          <span class="text-start">{{item.ThanhTien}}</span>
      </ng-template>
    </e-column>

    </e-columns>
  </ejs-grid>

</ng-template>
